.flex-space-beetwen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;   
}
.buyer-message{
    padding: 20px; 
}
.border-1{
   border: 1px solid #dddddd;
    margin: auto 85px;   
}
.border-2{
    display: flex;
    align-items: center; 
    border: 1px solid  #dddddd;  
}
.two-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;   
}
.btn-1{
    width: 100%;
    border: none;
}
.btn-2{
    width: 100%;
    border: none;
}
.border-3{
    width: 50%;
     margin-top: -120px;   
}
.btn-2:hover{
    border-bottom: 2px solid #FC904C ;
    color: #FC904C;
}
.btn-1:hover{
    border-bottom: 2px solid #FC904C ;
    color: #FC904C;
}
.border-4{
    width: 100%;
    text-align: center;
    border-left: 2px solid #dddddd;  
}
.content{
    margin-top: 100px;  
}
.message-notification{
    margin-right: 70px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px;
}
.inpurt-boxex{
    width: 100%;
}
.inp{
    margin: 15px;
}
.message-icon{
  font-size: 100px;
  opacity: 0.2;
}
@media (max-width: 600px){
    .border-2{
      display: block; 
      margin-top:130px;
    }
    .two-item{
      width: 100%; 
    }
    .border-3{
        width: 100%;   
    }
    .message-notification{
        display: none;
    }  
}
