* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
up
/*  Buyer section is responsive */

.p-responsive{
  padding: 0px 30px 25px 30px;
}

.userDashboard {
  padding:  30px 10px 10px 10px
}

.company-detail{
  padding: 0px  0px 0px 5px;
}
.user-title {
  font-size: 20px;
  padding: 0px 0px 0px 10px;
  font-weight: 600;
}

.user-subtitle {
  padding: 5px 0px 0px 10px;
}

.dashboard-containers {
  border-radius: 6px;
  padding: 15px 15px 15px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.step-varification-process{
 margin-top: 20px;
}

.dashboards {
  padding: 20px;
  border: 1px solid black;
  border-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: start;
  aspect-ratio: 10/3;
  width: 100%;
  gap: 20px;
}

.order-icon {
  font-size: 25px;
  margin-left: 10px;
}

.orders-title {
  font-size: 15px;
  font-weight: 600;
}

.containt-title {
  text-align: start
}

.order-info {
  text-align: start;
  font-size: 12px;
}

.order-infos {
  margin-top: 5px;
}

/* Upload doucument */
.upload-document-responsivness{
  padding: 20px 20px 20px 20px;
}
.upload-document {
 
  border: 1px solid rgb(158, 156, 156);
  /* background: rgb(252, 242, 242); */
  background: #fff;
  padding: 10px 0px 10px 10px;
  width: 100%;
  border-radius: 5px;
}

.upload-document-title {
  /* font-size: 18px;
  font-weight: 600; */
  
}

.document-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
}

.document-container-1 {
  padding: 20px;
  border: 1px solid rgb(158, 156, 156);
  width: 30%;
  background: #fff;
  border-radius: 5px;
}

.upload-document-info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  margin-top: 20px;
}

.doc-icons {
  font-size: 50px;
}

.uploadbtns {
  border: 1px solid black;
  background: none;
  width: 100%;
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}

.uploadbtns:hover {
  background-color: #FC904C;
  color: #fff;
  transition: 0.3s ease-in-out;
}

/* invitemore */
.background-Changer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  backdrop-filter: blur(3px);
  background: #74737380;
}

.invite-more {
  border: 1px solid black;
  width: 35%;
  height: auto;
  padding: 15px;
  background-color: #fff;
  margin: auto;
  margin-top: 150px;
  border-radius: 5px;
}

.invite-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
}

.invite-quote {
  margin-top: 35px;
  line-height: 1.2rem;
  opacity: 0.8;
  font-size: 12px;
}

.invite-email {
  margin-top: 20px;
  width: 100%;
}

.width-input {
  width: 100%;
  border: 1px solid black;
}

.user-role-choose {
  display: flex;
  margin-top: 10px;
}

.paragraph-4 {
  font-size: 14px;
  margin-left: 10px;
}

.send-email {
  margin-top: 20px;
  width: 90%;
  border: 2px solid #FC904C;
  border-radius: 5px;
  font-size: 15px;
}

/* Step varification */
.fill-value {
  width: 100%;
  height: 8px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: blue;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 20px 0px 0px 0px;
}

.radio-flex {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
  gap: 10px
}

.radio-size {
  width: 22px;
  height: 22px;
}

.varify-p {
  font-size: 15px;
}

.fill-values {
  border: 1px solid rgb(189, 186, 186);
  border-radius: 10px;
  width: 50%;
}

.document-container-2 {
  text-align: center;
  margin-left: 200px;
  border: none;
  background: none;
}

.profile-icons-1 {
  font-size: 60px;
  color: #4c92fc;
}

.bussiness-profile {
  font-size: 15px;
  padding: 10px;
}

.bussines-profile-button {
  background: #FC904C;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  border-radius: 2px;
}

.bussines-profile-button:hover {
  background-color: rgb(57, 108, 191);
}

.rd {
  background: rgb(57, 108, 191);
  border-radius: 50%;
  border: 1px solid rgb(227, 195, 195);
  outline: none;
  color: #dddddd;
}


/* Tablet View */
@media(min-width: 768px) and (max-width: 1000px) {
  .dashboards {
    padding: 5px;
    aspect-ratio: 10/5;
    width: 100%;
    font-size: 12px;
  }

  .order-infos {
    font-size: 10px;
  }

  .orders-title {
    font-size: 13px;
  }

  .containt-title {
    text-align: start;
    margin-left: 20px;
  }
}

/* laptop */
/* @media(min-width: 1000px)and (max-width: 1300px) {
  .dashboards {
    padding: 5px;
    aspect-ratio: 10/4;
    width: 100%;
    font-size: 12px;
  }
} */

/* Mobile View responsiveness  */


@media (min-width: 320px )and (max-width: 700px){
  .document-container {
    display: inline-block;
    width: 100%;
  }
  /* .upload-document-title{

  } */
  .document-container-1 {
    width: 100%;
  }
  .p-responsive{
    padding: 0px 0px 0px 0px;
  }
  .userDashboard {
   padding: 20px 0px 0px 10px;
  }
  .invite-user-responsive{
    margin-top: 10px;
  }
  .document-container-2 {
     margin-left: 0px;
  }
  .dashboards{
    aspect-ratio: 5/1;
    width: 100%;
  }
  .dashboard-containers {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

/*  here we added the media query for 700px above and show the below  condition */
@media (min-width: 700px ) and (max-width: 1024px){
  .document-container-1 {
    width: 100vh;
  }
  .p-responsive{
    padding: 0px 0px 0px 0px;
  }
  .userDashboard {
    padding: 20px 0px 0px 10px;
   }
   .document-container-2 {
    margin-left: 0px;
 }
 .dashboards{
  aspect-ratio: 5/1;
  width: 100%;
}
.dashboard-containers {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
}
/* for above 1400 responsiveness */

@media(min-widht: 1401) and (max-width: 2560px){
  .document-container-1 {
    width: 100vh;
  }
  .dashboards{
    aspect-ratio: 10/1;
    width: 100%;
  }
}









