.ml-rule{
    margin-left: 10px;
}
.dounload{
    display: flex;
}
.upload{
    display: flex;  
}
.d{
    color: #fff;
    font-family: 600;
}
.card-table-du{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;   
}
.font-size{
    font-size: 22px;
    font-weight: 600;
}
.noteses{
    width: 100%;
    margin-left: 0px;
}
.crete-rfq-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.quantity{
    display: flex;
}
.upload-icon{
   margin-top: 30px;
   font-size: 30px;
   width: 5%;
   border-radius: 5px;
}
.input-width-change{
    width: 25%; 
}
.add{
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;

}
.ml-left{
    margin-left: 10px;
}
.c-s-c{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mr-left{
    margin-left: 0px;
    margin-bottom: 10px;
}
.mt-top{
    margin-top: 10px;
}
.ml-left{
    margin-left: 10px;
}
.date{
    width:100% ; 
}
.file-upload{
    display: flex;
    align-items: center;
    border: 2px solid #919191;
    width: 50%;
    padding: 10px;
    cursor: pointer; 
}
.file-choose{
    padding: 10px;
    width: 100%;
}
.cancel{
    width: 10%;
   padding: 10px;
   font-weight: 600;
}

.upload-quote{
    margin-top: -5px;
    margin-left: 10px;
}
.file-width{
    width: 100%;
}
.pointer{
    cursor: pointer;
}
.submitbtn{
    width: 100%;
}
.rfq-img{
   width: 50px;
   height: 50px;
    border: 1px solid gray;
    object-fit: contain;
    margin-top: 30px; 
}
.heading-3{
    margin-left: 80px;
}