.pay-title{ 
    font-size: 30px;  
}
.pay-note{
    margin-left: 70px;
    color: gray;
}
.pay-option{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
}
.pay-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pay-option-item{
    font-size: 20px;
   margin: 5px;
    margin-right: 20px;
}
.debit-card-button{
    margin-left: 15px;
    width: 20%;
    margin-top: 10px;
}
.bank-detail{
    border: none;
    background: none;
    margin-left: 0px;
}
.info-detail{
    margin-left: 45px;
   margin-right:10px ;
}
.info-details{
    font-size: 14px; 
}
.bank-data-display{
    width: 80%;
    margin-left: 0px;
}
.bank-name-show{ 
    width: 40%;
    margin-left: 0px;
}
.border-top{
    margin-top: 20px;
    height: auto;
}
.border-p{
    padding: 10px;
    height: auto;
}
.card-methode{
    border: 1px solid black;
    width: 50%;
    height: 320px;
   padding: 15px;
  background-color: #fff;
    margin: auto;
    margin-top: 200px;
    border-radius: 5px;
}
.card-infos-bank{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;  
}
.cross-icon{  
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.card-title{
    font-size: 14px;
     
}
.card-inputs-filed{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;  
}
.paragraph-4{
    font-weight: 600;
}
label{
    font-size: 13px;   
}
.card-input-value{
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    /* opacity: 0.8; */
    margin-top: 10px;
}
.card-inputs{
    width: 50%;
}
.change-input-width{
    margin-left: 10px;
    width: 47.5%;
}
.card-inputses{
    width: 50%;
    margin: 10px;
}
.margin-bottom{
  margin-bottom: 20px;
   color: aliceblue;  
}
.bor-pad{
   margin-bottom: 20px;
    height: auto;
    padding: 10px;
}
.add-card-btn{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 15px;
}
.add-bank-btn{
    margin: 5px;
    border-radius: 2px;
    padding: 10px;
   margin-top: 10px;
    width: 25%;
    border: 2px solid #FC904C;
   background: none;
}
.add-bank-btns{
    margin: 5px;
    border-radius: 2px;
    padding: 10px;
   margin-top: 10px;
    width: 25%;
    background-color: #3770bf;
    border: 2px solid #3770bf;
  color: #fff;
}
.add-bank-btns:hover{
    transition: var(--trans);
    background-color:#468ff6 ;
}
.card-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
    background: #3770bf;
    color: #fff; 
}
.table-1{
    width: 100%;  
}
.card-details-table{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.edit-icon{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer; 
}
.delete-icon{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.top-bar{
    margin-top: -20px;
}
.warnings{
    cursor: pointer;
}