/* 
.dropdown-flag {
    position: relative;
    width: 200px;
  }
  
  .dropdown-flag-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: var(--defontsize);
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
  }
  
  .dropdown-flag-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: #fff;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  
  .dropdown-flag-list::-webkit-scrollbar {
    width: 15px;
  }
  
  .dropdown-flag-list::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 6px;
  }
  
  
  .dropdown-flag-item {
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    justify-content: start;
    align-items: center;
  }
  
  .dropdown-flag-item:hover {
    background-color: #f0f0f0;
  }
  
  .flag {
    width: 20px;
    aspect-ratio: 4/3;
    object-fit: contain;
  }
  
  
   */











   