

.big-image img{
    width: 400px;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.small-image{
    cursor: pointer;
}
.small-image img{
    width: 60px;
    aspect-ratio: 4/3;
    object-fit: contain;
}

