.step-verification {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-family: Arial, sans-serif;
  cursor: pointer; 
}

.step .checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  color: white;
  text-align: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step .number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: black;
  text-align: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed .number,
.completed .checkmark {
  background-color: green;
  color: white;
}

.step span {
  margin-left: 5px;
}

.completed span {
  color: green;
}
