
.icon-container {
  position: relative;
  cursor: pointer;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 230px;
  top: 45px;
  right: 10px;
  height: fit-content;
  transform: translateX(-70%);
  gap: 10px;
  background-color: white;
  border: var(--border);
  padding: 20px 12px 10px 12px;
  border-radius: var(--br1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1;
}

.popupbox{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.popupbox:last-child{
  padding-bottom: none;
  border-bottom: none;
}

.icon-container .popup {
  opacity: 0;
  bottom: -10px;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.icon-container.clicked .popup {
  opacity: 1;
  bottom: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-input2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.search-input2 input {
  padding: 10px;
  border: 1px solid #004c6f;
  border-radius: 6px;
  width: 100%;
}

.select-country{
  border: 1px solid #004c6f;
  border-radius: 6px;
  width: 20%;
}

.search-input2 span {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-70%);
  cursor: pointer;
}

.search-input2 span .MuiSvgIcon-root {
  width: 22px;
  height: 22px;
  color: gray;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 10px 20px;
  gap: 20px;
  background-color: white;
}
/* #004c6f */

.sub-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 20px;
  gap: 20px;
  background-color: #004c6f;
}
/* hsl(199, 100%, 88%) */
.sup-header-option{
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sup-header-option div{
  cursor: pointer;
}

.sub-header-option{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.sub-header-option .MuiSvgIcon-root{
  color: var(--CodeOne);
  font-size: 17px;
}
.sub-header-option .sub-heading3{
  color: var(--CodeOne);
}


.head-end, .head-start {
  gap: 20px;
}

.logo {
  width: 140px;
 
}

.header-nav {
  width: fit-content;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.header-burger {
  display: none;
}

.header-burger .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: white;
}

.drawer {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.username{
  font-size: 13px;
  font-weight: bolder;
  text-transform: capitalize;
}

.warning-btn3 {
  background-color: rgb(255, 171, 135);
  border-radius: 15px;
  font-size: 12px;
  padding: 3px 10px;
}

.pop-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  color: rgb(116, 116, 116);
  transition: var(--trans);
}

.pop-options:hover{
  color: black;
}

.pop-options .MuiSvgIcon-root{
  width: 20px;
  height: 20px;
  color: rgb(116, 116, 116);
  transition: var(--trans);
}

.pop-options .MuiSvgIcon-root:hover{
  color: black;
}

.subpop-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: gray;
  transition: var(--trans);
}

.subpop-options:hover{
  color: black;
}

.header-btns{
  width: fit-content;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br1);
  color: var(--CodeOne);
  font-size: 15px;
  border: 1px solid var(--CodeOne);
}

.sub-heading2 {
  font-size: 13px;
  font-weight: 400;
  color: white;
}

.sub-heading3 {
  font-size: 15px;
  font-weight: 600;
  color: white;
}



@media screen and (max-width: 600px) {
  .header {
    gap: 10px;
  }

  .head-end, .head-start {
    gap: 10px;
  }

  .header-burger {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .logo {
    width: 70px;
  }

  .search-input2 {
    width: 100%;
  }

  .search-input2 input {
    padding: 8px 10px;
    border-radius: 16px;
  }
}