

.responsive{
    padding:  30px 30px 30px 30px;
}
.heading-css-2{
    font-size: 18px;
}
.notes{
    /* margin: auto 110px; */
    width: 100%;
}
.paragraph-4{
    font-size: 14px;
    /* margin-left: 10px;   */
}
.learn-btn{
    font-size: 15px;
     /* margin-left: 620px; */
     color: rgb(57, 108, 191) ;  
}
.nav-section{
display: flex;
align-items: center;
/* margin: 30px 110px; */

padding:  20px 0px 20px 0px;
width: 100%;
}
.nav-section-items{
    border: 1px solid black;
    border-color: #FC904C;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-left: 2px;
    background: rgb(217, 217, 217);  
}
.user-names-icon{
    display: flex;
    align-items: center;
    gap: 20px; 
}
.user-logo{
    border-radius: 50%;
    background-color: #FC904C ;
    font-size: 20px;
    padding: 15px;   
}
.user-name{
    font-size: 14px;
    font-weight: 200;
}
.u-icon{
    font-size: 20px;
    font-weight: 600;
    color: rgb(57, 108, 191) ;
}
.nav-section-change{
    display: flex;
align-items: center;
border-bottom: 1px solid black;
width: 100%;
padding: 10px;
background: #ede8e8;
}
.nav-section-item{
    border: none;
    background: none;
    text-align: center; 
}
.roles-text{
    /* margin: auto 100px; */
    padding: 20px;
    font-size: 15px;
}
span{
    margin-left: 10px;
   
    font-weight: 600;
    border-bottom: #FC904C;
}
.user-subtittles{
    margin-right: 180px;
    margin-bottom: -10px;
}
.invite-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd; 
}
.invite-more{
    border: 1px solid black;
    width: 35%; 
    height: auto;
   padding: 15px;
  background-color: #fff;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
}
.width-input{
    width: 100%;
    border: 1px solid rgb(204, 201, 201);
    margin-top: 10px;
}
.invite-email{
    margin-top: 20px;
    width: 100%;
}
 
.invite-quote{
    margin-top: 35px;
    line-height: 1.2rem;
    opacity: 0.8;
    font-size: 12px;
}
.user-role{
 margin-left: 0px;
}
.user-role-choose{
    display: flex;
    margin-top: 10px;
}
.invite-quotes{
    margin-left: 23px;
    font-size: 13px;
    opacity: 0.8;
    text-transform: lowercase;
    margin-top: 5px;
}
.send-email{
    margin-top: 20px;
    width: 90%;
    border: 2px solid #FC904C ;
    border-radius: 5px;
    font-size: 15px;  
}
.flex-space-beetwen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px;    */
    width: 100%;
}
.heading-2{
    opacity: 1;
}
.user-title {
    font-size: 20px;
    /* margin-left: 87px; */
    font-weight: 600;
    opacity: 0.8;
  }
  .create-btn{
    /* margin-right: 115px; */
    padding: 15px;
    background-color:#FC904C ;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
    color: #fff;
}
.note{
    display: flex;
    /* margin-left: 60px; */
    border: 2px solid rgb(240, 109, 38);
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    color: rgb(241, 98, 82);
    background: #eddbb3;
    /* margin: 10px; */
}
.warnings{
    font-size: 17px;
}
.change-notes{
    /* margin-left: 110px; */
    width: 100%;
}
.title-size{
    font-size: 25px;
}
.title-opacity{
    opacity: 1;
}
.background-Changer{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(3px);
    background: #74737380; 
}
/*  add the media query  for the mobile  */
@media(min-width: 320px)and (max-width: 600px){
    .responsive{
        padding:  10px 5px 10px  5px;
    }
    .create-btn{
        padding:  10px;
    }
    .nav-section-change{
    padding: 0px;
    }
}
/*  popub media query  for the mobile view */
@media(min-width: 320px)and (max-width: 600px){
    .invite-more{
        width: 100%;
        margin-top: 20px;
    }
    .send-email{
        width: 100%;
    }
}
/*  table view */
 @media(min-width: 601px ) and (max-width: 1024px){
    .invite-more{
        width:  80%;
        margin-top: 20px;
    }
   
 }